@import url(/css/base.css);
@import url(/css/quick_add.css);
div.page { width: 1200px; }

div.panel { float: left; width: 250px; height: 622px; 
  border: solid 1px #ccc; padding: 5px; 
  margin-right: 10px; margin-bottom: 10px; 
  overflow-y: scroll; }
div.panel ul { margin: 20px 0 0 0; padding: 0; }
div.panel ul * { margin: 0; padding: 0; }
div.panel li { display: block; font-size: 14px; }

form.editor input.text, form.editor label, form.editor textarea { display: block; }
form.editor label { font-weight: bold; font-size: 14px; }
form.editor p.help { font-size: 13px; color: #666; }

#site-title input { width: 200px; }
a.submit { font-size: 15px; font-weight: bold; }

div.galleries.panel { height: 220px; }
div.blogs.panel { height: 220px; }
div.calendars.panel { height: 220px; }

div.images.panel { height: 380px; }
div.images.panel li { display: inline; }
div.images.panel li img { height: 50px; width: 50px; border: 1px solid white; }
div.images.panel li a:hover img { border: 1px solid #3c3; }

div.stories.panel { height: 380px; }

div.events.panel { height: 380px; }