@import url(/css/base.css);
form { padding: 10px; border: 1px solid #ccc; width: 400px; }
label { font-size: 15px; font-weight: bold; }
input.text, input.password { display: block; width: 200px; }
p.help { font-size: 13px; color: #666; }
a.submit { font-size: 13px; font-weight: bold; }
