/* forms */
form { margin-top: 25px; padding-top: 10px; padding-left: 10px;
	font-family: verdana, arial, sans-serif; font-size: 10pt; }
form h1 { font-size: 14pt; }
form h2 { font-size: 12pt; }
form h3 { font-size: 10pt; }
form p { font-size: 10pt; font-family: verdana, arial, sans-serif; }
div.property { margin-bottom: 25px; }
div.property label { float: left; width: 30%; text-align: right; margin-right: 5px; }
*.value { width: 60%; border: 1px solid #390; color: #390; padding: 5px; }
textarea.value { width: 90%; height: 120px; }
div.buttons { width: 90%; text-align: right; }
input.submit, div.buttons > a { width: 90px; line-height: 10px; font-size: 10pt; }
input.submit { margin-bottom: 0px; }

/* formatting specific to the forms in the sidebar */
div.sidebar div.property { clear: both; margin-bottom: 0; }
div.sidebar form label { font-size: 9pt; width: 60px; }
div.sidebar form input.value { width: 110px; }
