* { margin: 0; padding: 0; 
     font-family: helvetica, verdana, sans-serif;  }

/* basic page outline */
body { 
    background: #110f0d;
}

div.page { width: 1050px; margin: 0px 10%; background-color:white; }

/* basic text styles */
h1, h2, h3 { color: #F62900; letter-spacing: -1px; }
h1, h2, h3, p, li { line-height: 28px; margin-bottom:  20px; }
h1 { font-size: 22pt; }
h2 { font-size: 17pt; }
h2, p, li { font-size: 12pt; }
p { text-align: justify; }
h3 { font-size: 12pt; }
p.subtitle { 
  display: none;
  margin-top: 1px; margin-left: 2px;
  font-family: verdana, arial, sans-serif; 
  font-size: 14px; font-style: italic; 
  border-bottom: 1px dotted #390; }
p.warning, p.error { border-top: 1px solid; border-bottom: 1px solid; }
p.warning { color: orange; }
p.error { color: red; }
p.quote { padding-left: 10px; margin-bottom: 0px; font-size: 10pt; }

/* link styles */
a { color: #F62900; text-decoration: none; }
a:hover { color: #110f0d; text-decoration: underline; }

/* page layout */
/*div.banner > div.menu { height: 30px; }*/
/*div.banner > div.title h1 {
  font-size:  15pt; text-align: right; letter-spacing: 0; padding-top: 20px; margin-right:30px; 
  color: #110f0d; margin-bottom: 0;
}*/
div.banner.image { width:1050px; background-image:  url( /images/banner );}
/*div.banner h1 { font-size: 40px; }*/
div.banner ul.menu { display: block; float: right; margin-right: 30px; }
div.banner ul.menu li { display: block; float: right; margin-left: 20px; text-transform: uppercase; font-size: 14px; } 
div.banner img { width: 1050px; }
/*div.menu { height: 50px; background: url(/images/bar-bg) repeat-x; }*/

div.sidebar {
  float: left; margin-left: 0px; padding: 20px;
  /*background: url(/images/bar-bg) repeat-x;*/
  width: 270px; border-right: 1px dashed silver; min-height: 400px;
}
div.sidebar h1 { font-size: 16pt; }
div.sidebar h2 { font-size: 12pt; }
div.sidebar p, div.sidebar li { font-size: 11pt; line-height: 20px; }
div.sidebar * { line-height: 16px; margin-bottom: 10px; }
div.sidebar hr { margin: 20px 0; }
div.sidebar div.block { margin-bottom: 30px; }

div.main { border-top: 2px solid ##110f0d; padding: 50px 35px; min-height: 400px; margin-left: 320px; }
    
/* default image formatting */
/*img { border: none }*/
#home img { width:180px; height:250px; }

#contact {}

/* default list formatting */
ul { margin-left: 0.5em; margin-bottom: 25px; }
li { margin-left: 1em; margin-bottom: 10px; list-style-type: square; }

div.feed { float: right; margin-top: 5px; line-height: 10px;
  font-family: verdana, arial, sans-serif; font-size: 9pt; }
div.feed img { margin: 0; padding: 0; margin-right: 5px; }
div.feed label { margin: 0; padding: 0; }

div.entries p.byline { margin-top: -10px; margin-bottom: 10px;
  font-family: verdana, arial, sans-serif; font-size: 8pt; }
div.entries h2 { font-family: verdana, arial, sans-serif; margin-top: 20px; }

span.author, span.date { font-weight: bold; }

p.more { font-family: verdana, arial, sans-serif; font-size: 12pt; 
  padding-bottom: 20px; 
  border-bottom: 1px solid #390; }

div.footer { clear: both; text-align: center;  }
div.footer { margin-top: 20px; border-top: 1px silver solid; }
div.footer * { font-family: verdana, arial, sans-serif }
div.footer h1 { font-size: 12pt; }
div.footer h2 { font-size: 10pt; }
div.footer h3, div.footer p { font-size: 8pt; }

div.inset { float: right; margin-left: 12px; border: 1px solid silver; padding: 8px; }
div.inset h1 { font-size: 12pt; color: black; font-family: verdana, arial, sans-serif; }
div.inset img { margin:0; padding:0; }

#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

/*
div#donation-form { border: 1px solid silver; padding: 20px; margin-bottom: 20px; width: 260px; height: 50px }
#dollar-sign { float: right; margin-top: 12px; color: #F62900; font-size: 20pt; margin-right: 8px; }
#amount { float: right; margin-top: 10px; margin-right: 20px; }
#donate { float: right; margin-right: 20px;}
*/
/* input#amount { font-size: 16px; padding: 8px; border: 1px solid silver; float: left; } */
/* input#button { float: left; padding-top: 4px; margin-left: 16px; } */
/* div#donation-form br { clear: both } */
